<mat-toolbar style="background-color: color(rgb 75 140 166);">
    <span>MMM Sistemas </span>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span style="flex: 1 1 auto;;"></span>
    <label style="font-size: 14px; margin-right: 20px;">{{username}}</label>
    <button mat-icon-button (click)="cerrarSesion();">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>



  <mat-sidenav-container>
    <mat-sidenav #sidenav opened mode="side" style="width: 220px; background:hsl(211deg, 100%, 24%);">
      <mat-nav-list>

        <mat-list-item routerLink="/layout/dashboard">
          <mat-icon matListItemIcon style="color:#ffffff;"> add_a_photo</mat-icon>
              <div matListItemTitle style="color: #fdfdfd;">Dashboard</div>
       </mat-list-item>

       <mat-list-item routerLink="/layout/dashboard">
        <mat-icon matListItemIcon style="color: white;"> group_add</mat-icon>
            <div matListItemTitle style="color: white;">Dashboard</div>
     </mat-list-item>
     <mat-list-item routerLink="/layout/dashboard">
      <mat-icon matListItemIcon style="color: white;">  description</mat-icon>
          <div matListItemTitle style="color: white;">Dashboard</div>
   </mat-list-item>
    

        <mat-list-item routerLink="/layout/dashboard">
           <mat-icon matListItemIcon style="color: white;">storage</mat-icon>
               <div matListItemTitle style="color: white;">Dashboard</div>
        </mat-list-item>
      
        <mat-list-item routerLink="/layout/especialidades">
          <mat-icon matListItemIcon style="color: white;">category</mat-icon>
          <div matListItemTitle style="color: white;">Especialidades</div>
        </mat-list-item>

        <mat-list-item routerLink="/layout/medicos">
          <mat-icon matListItemIcon style="color: white;">group_add</mat-icon>
          <div matListItemTitle style="color: white;">Medicos</div>
        </mat-list-item>

        <mat-list-item routerLink="/layout/usuarios">
          <mat-icon matListItemIcon style="color: white;">person</mat-icon>
          <div matListItemTitle style="color: white;">Usuarios</div>
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div style="height: 90vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  