
<h2 mat-dialog-title>{{titulo}} Usuario</h2>

<mat-dialog-content>

  <form [formGroup]="formUsuario">
    <div class="row mt-2">
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput autocomplete="off">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Genero</mat-label>
          <mat-select formControlName="genero">
            <mat-option value="M">Masculino</mat-option>
            <mat-option value="F">Femenino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input formControlName="nombres" matInput autocomplete="off">
        </mat-form-field>
      </div>

       <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input formControlName="apellidos" matInput autocomplete="off">
        </mat-form-field>
      </div>
            <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Direccion Residencia</mat-label>
          <input formControlName="DirecciónResidencia" matInput autocomplete="off">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Direccion Postal</mat-label>
          <input formControlName="DirecciónPostal" matInput autocomplete="off">
        </mat-form-field>
      </div>
      <div class="col-6" style="display: flex; align-items: center;">
      <mat-form-field class="full-width" appearance="outline" 
      id="DepartamentoResidencia" 
      name="DepartamentoResidencia"><option placeholder="Seleccione Departamento"></option>
        <mat-label>Departamento Residencia</mat-label>
        <mat-select formControlName="DepartamentoResidencia">
          <mat-option value="">Seleccionar departamento</mat-option>
          <mat-option value="Amazonas">Amazonas</mat-option>
          <mat-option value="Antioquia">Antioquia</mat-option>
          <mat-option value="Arauca">Arauca</mat-option>
          <mat-option value="Atlántico">Atlántico</mat-option>
          <mat-option value="Bolívar">Bolívar</mat-option>
          <mat-option value="Boyacá">Boyacá</mat-option>
          <mat-option value="Caldas">Caldas</mat-option>
          <mat-option value="Caquetá">Caquetá</mat-option>
          <mat-option value="Casanare">Casanare</mat-option>
          <mat-option value="Cauca">Cauca</mat-option>
          <mat-option value="Cesar">Cesar</mat-option>
          <mat-option value="Chocó">Chocó</mat-option>
          <mat-option value="Córdoba">Córdoba</mat-option>
          <mat-option value="Cundinamarca">Cundinamarca</mat-option>
          <mat-option value="Guainía">Guainía</mat-option>
          <mat-option value="Guaviare">Guaviare</mat-option>
          <mat-option value="Huila">Huila</mat-option>
          <mat-option value="La Guajira">La Guajira</mat-option>
          <mat-option value="Magdalena">Magdalena</mat-option>
          <mat-option value="Meta">Meta</mat-option>
          <mat-option value="Nariño">Nariño</mat-option>
          <mat-option value="Norte de Santander">Norte de Santander</mat-option>
          <mat-option value="Putumayo">Putumayo</mat-option>
          <mat-option value="Quindío">Quindío</mat-option>
          <mat-option value="Risaralda">Risaralda</mat-option>
          <mat-option value="San Andrés y Providencia">San Andrés y Providencia</mat-option>
          <mat-option value="Santander">Santander</mat-option>
          <mat-option value="Sucre">Sucre</mat-option>
          <mat-option value="Tolima">Tolima</mat-option>
          <mat-option value="Valle del Cauca">Valle del Cauca</mat-option>
          <mat-option value="Vaupés">Vaupés</mat-option>
          <mat-option value="Vichada">Vichada</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>telefono</mat-label>
        <input formControlName="telefono" matInput autocomplete="off">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>direccion</mat-label>
        <input formControlName="direccion" matInput autocomplete="off">
      </mat-form-field>
    </div>
   
 
      <div class="col-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput autocomplete="off" type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <div *ngIf="email?.touched">
                <p *ngIf="email?.errors?.['pattern']">Email No Valido</p>
              </div>
          </mat-form-field>
      </div>
    
    
      <div class="col-6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="rol">
            <mat-option *ngFor="let item of listaRoles" [value]="item.nombreRol">
              {{item.nombreRol}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close="true" color="warn">Volver</button>
  <button mat-raised-button color="primary" [disabled]="formUsuario.invalid"
     (click)="registrarUsuario()">{{nombreBoton}}</button>
</mat-dialog-actions>
