
<div class="page-container">
  <section class="o-section o-section--emergencias">
    <div class="o-container">
      <article   class="c-article c-article--apertura c-article--premium c-article--apertura--amarillo"
        data-publicacion="#" data-id="#" data-autor="#"
        data-bloqueo="#" 
        data-name="#"
        data-category="#" data-editorial="#" 
        data-tipocontenido="Articulo"  data-clasecontenido="#" 
        data-redactorvisible="#" data-position="1"
        data-board="#" data-seccion="#" data-subseccion="#">
        <p  class="c-article__epigraph opening__alert_color">
        <span class="alert_span">Actualidad</span><span
            class="alert_category"
             href="#"> Musical</span>
             <svg
            xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 18 18">
            <g transform="translate(0.5 0.5)">
              <path
                d="M10.237-8.526a2.237,2.237,0,0,0,2.237-2.237A2.237,2.237,0,0,0,10.237-13,2.237,2.237,0,0,0,8-10.763,2.237,2.237,0,0,0,10.237-8.526Z"
                transform="translate(-1.737 19.263)" fill="#fff"></path>
              <g transform="translate(3 3)">
                <path d="M5.5,11A5.5,5.5,0,1,0,0,5.5,5.5,5.5,0,0,0,5.5,11Z" fill="none" stroke="currentColor"
                  opacity=".6" stroke-width="1"></path>
              </g>
              <g>
                <path d="M8.5,17A8.5,8.5,0,1,0,0,8.5,8.5,8.5,0,0,0,8.5,17Z" fill="none" stroke="currentColor"
                  opacity=".6" stroke-width="1"></path>
              </g>
            </g>
          </svg></p>
        <h3 class="c-article__title"><a
            href="#">
            ¡Regresa Bogotá Góspel!, el festival de música góspel más grande de Latinoamérica</a>
            </h3>
        <p class="c-article__subtitle">Luego de 3 años de ausencia, vuelve el evento de música 
          góspel más anhelado en Bogotá y este año promete ser una experiencia inolvidable que […]</p>
        <figure class="c-article__thumb c-detail__media multimedia-video-container">
          <div class="c-detail__media__thumb"><img alt="¡BOGOTÁ GÓSPEL REGRESA!" width="466"
              height="274" loading="lazy"
              src=".\assets\logo\1920-X-1080-Pantalla-880x440.jpg"
              data-full-src=".\assets\logo\1920-X-1080-Pantalla-880x440.jpg"></div>
          <!----><!----><!---->
        </figure>
        <div class="c-article__more">
          <article class="c-article c-article--breve c-article--emergencia " data-publicacion="#"
            data-id="#" data-autor="#" data-bloqueo="#"
            data-name="Alex Campos describe el corazón de este gran festival que llega a su séptima 
            edición en la capital de Colombia: RAZA DE CAMPEONES 2023-AÚN HAY MÁS"
            data-category="#" data-editorial="#" 
            data-tipocontenido="Articulo"
            data-clasecontenido="#" data-redactorvisible="#" data-position="1"
            data-board="#" data-seccion="#" data-subseccion="#">
            <figure class="c-article__thumb">
              <picture><img alt="RAZA DE CAMPEONES 2023" width="288" 
                height="158"
                  loading="lazy"
                  src=".\assets\logo\ALEXCAMPOS.jpg"
                  data-full-src=".\assets\logo\ALEXCAMPOS.jpg"></picture>
            </figure>
            <div class="c-article__txt">
              <p class="c-article__epigraph"><a
                  href="#">Música</a
                  ><time
                  class="c-article__date" datetime="09:25 A.M.">09:25 A.M.</time>
                </p>
              <h3 class="c-article__title"><a
                  href="#"
                  >Alex Campos describe el corazón de este gran festival que llega a su séptima 
                  edición en la capital de Colombia: RAZA DE CAMPEONES 2023-AÚN HAY MÁS</a></h3>
            </div>
          </article>
          <article class="c-article c-article--breve c-article--premium" data-publicacion="#"
            data-id="#" data-autor="#" data-bloqueo="A#"
            data-name="Alex Márquez presentó su nuevo sencillo AMADO DE MI ALMA"
            data-category="#" data-editorial="Patrocinado" data-tipocontenido="Articulo"
            data-clasecontenido="#" data-redactorvisible="#" data-position="1"
            data-board="#" data-seccion="#">
            <div class="c-article__txt">
              <p class="c-article__epigraph">
                <a href="#">Lanzamiento</a><time class="c-article__date" datetime="05:52 A.M.">05:52 A.M.</time></p>
              <h3 class="c-article__title"><a
                  href="#">
                  Alex Márquez presentó su nuevo sencillo "AMADO DE MI ALMA"</a></h3>
            </div>
          </article>

          <article class="c-article c-article--breve c-article--premium" data-publicacion="2024-04-29"
            data-id="#" data-autor="#" data-bloqueo="#"
            data-name="El Asesor Creativo de marcas Endry Vásquez lanzó su Ebook “Metodología P.R.I.M.E”"
            data-category="#" data-editorial="#" data-tipocontenido="Articulo"
            data-clasecontenido="#" data-redactorvisible="#" data-position="1"
            data-board="#" data-seccion="#" data-subseccion="#">
            <div class="c-article__txt">
              <p class="c-article__epigraph"><a href="#">Libros</a>
                <time
                  class="c-article__date" datetime="09:43 A.M.">09:43 A.M.</time></p>
              <h3 class="c-article__title"><a
                  href="#">
                  El Asesor Creativo de marcas Endry Vásquez lanzó su Ebook “Metodología P.R.I.M.E”</a></h3>
            </div>
          </article>

          <div class="c-article__related">
<article class="c-article c-article--lateral-xs c-article--premium" data-publicacion="#"
 data-id="#" data-autor="#" data-bloqueo="#"
   data-name="ALEX MÁRQUEZ PRESENTÓ SU NUEVO SENCILLO «AMADO DE MI ALMA»"
   data-category="#" data-editorial="#" data-tipocontenido="Articulo"
    data-clasecontenido="#" data-redactorvisible="# " data-position="1"
    data-board="#" data-seccion=" #">
    <figure class="c-article__thumb">
    <picture><img alt="Alex Márquez de Zulia-Venezuela" width="288" height="158" loading="lazy"
      src=".\assets\logo\ALEXMARQUEZ585x325.jpg"
                  data-full-src=".\assets\logo\ALEXMARQUEZ585x325.jpg"></picture>
              </figure>
              <div class="c-article__txt">
                <p class="c-article__epigraph"><a href="#">Música</a>
                  <time
                    class="c-article__date" datetime="09:43 A.M.">09:43 A.M.</time></p>
                <h3 class="c-article__title"><a
                    href="#">
                    Alex Márquez de Zulia-Venezuela, Dios lo llamó a los 11 años cuando en su familia […]</a></h3>
              </div>
            </article>

            <article class="c-article c-article--lateral-xs c-article--premium" data-publicacion="2024-04-29" data-id="3338222"
              data-autor="Laura daniela alarcon vargas" data-bloqueo="Abierto"
              data-name="Entregamos una CAR más eficiente: Sanabria"
              data-category="Mundo/latinoamerica" data-editorial="Editorial" data-tipocontenido="Articulo"
              data-clasecontenido="Tendencia" data-redactorvisible="Laura daniela alarcon vargas" data-position="1"
              data-board="Emergencia" data-seccion="Mundo" data-subseccion="Latinoamerica">
              <figure class="c-article__thumb">
                <picture><img alt="Hay dos hombres implicados." width="288" height="158" loading="lazy"
                  src=".\assets\logo\CAR-820x410.jpeg"
                  data-full-src=".\assets\logo\CAR-820x410.jpeg"></picture>
              </figure>
              <div class="c-article__txt">
                <p class="c-article__epigraph">
                  <a href="https://valorescristianos.co/alex-marquez-presento-su-nuevo-sencillo-amado-de-mi-alma/">Lanzamiento</a><time class="c-article__date" datetime="05:52 A.M.">05:52 A.M.</time></p>
                <h3 class="c-article__title"><a
                    href="#">
                    Entregamos una CAR más eficiente: Sanabria</a></h3>
              </div>
            </article>
          </div>
        </div>
        <nav class="c-article__tags">
          <span class="c-article__tags__title">Relacionados: </span>
          <ul class="c-article__tags__list">
            <li><a class="c-article__tags__link" href="#"
                target="_blank" title="#" rel>Emisora Valores Cristianos</a></li>
            <li><a class="c-article__tags__link" href="#"
                target="_blank" title="#" rel>Noticias</a></li>
            <li><a class="c-article__tags__link" href="#"
                title="#" rel>Nacionales</a></li>
          </ul>
        </nav>
      </article>
    </div>
  </section>
  
  <section class="o-section">
    <div class="o-container">
      <div class="container full container-freehtml">
        <div class="board-module-ads">
          <div class="c-add c-add-970x250-desktop c-add " 
          data-desktop-title="Patrocinio Club"
            data-mobile-title="Boton Alkosto" 
            content-ad-type="generated-ad" style="">Su negocio Aquí
            <picture><img
              alt="Katherine Miranda, representante a la Cámara durante un debate en el Congreso."
              width="600" height="300" loading="lazy"
              src=".\assets\logo\cropped-Cabezote-1-1.jpg"
              data-full-src=".\assets\logo\cropped-Cabezote-1-1.jpg">
          </picture>
          </div>
        </div>
      </div>
    </div>
  </section>


  